<div class="card">
  <div class="card-header">
    Module issues in terminal
  </div>
  <div class="card-body">
  There's a known issue loading modules in RStudio's environment after changing versions or clusters.</br></br>

  If you have issues using modules in the RConsole - try these remedies
  <ul>
    <li>restarting the terminal</li>
    <li>restarting the RConole</li>
    <li>logging out of the RStudio session and logging back in.</li>
    <li>remove your <span class='bg-light text-black'>~/.local/share/rstudio</span></li>
  </ul>

  Contact <a href="mailto:oschelp@osc.edu">OSC Help</a>  if you continue to have issues.
  </div>
</div>

<button class="btn btn-dark mt-3" type="button" data-toggle="collapse" data-target="#importing_modules" aria-expanded="false" aria-controls="collapseExample">
  How to import modules in R
</button>

<dl class="row collapse" id="importing_modules">

  <dt class="col-sm-4">
    <p class="font-weight-bold">Import the module function</p>
  </dt>
  <dd class="col-sm-8">
    <p class="bg-light text-black">source(file.path(Sys.getenv("LMOD_PKG"), "init/R"))</p>
  </dd>

  <dt class="col-sm-4">
    <p class="font-weight-bold">Example loading 'blast'</p>
  </dt>
  <dd class="col-sm-8">
    <p class="bg-light text-black">module("load", "blast")</p>
  </dd>

  <dt class="col-sm-4">
    <p class="font-weight-bold">Example loading a custom module</p>
  </dt>
  <dd class="col-sm-8">
    <div class="bg-light text-black">
      module("use", "~/local/share/lmodfiles") <div class="mt-1"></div>
      module("load", "MyModuleA")
    </div>
  </dd>
</dl>
